<!-- <mat-toolbar color="primary">
    <mat-icon>eco</mat-icon><span>Bestify Your Time</span>
    <div class="spacer"></div>
    <div #compress>
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="copress.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button mat-button>Home</button>
        <button mat-button>About us</button>
        <button mat-button>Contact Us</button>
    </div>
</mat-toolbar> -->
